<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css" />
  <title>My Notes</title>
</head>

<body>

  <h1>My Favorite Scriptures</h1>

  <div id="collection" class="content">
    <section class="scripture-gallery">
      <div class="passage" v-for="verse in scriptures">
        <h2>{{verse.verse}}</h2>
        <p><i>{{verse.passage}}</i></p>
        <h2> My Impressions</h2>
        <p>{{verse.notes}}</p>
        <button @click="deleteVerse(verse)">Delete Scripture</button>
        <button @click="editingVerse(verse)">Edit Scripture</button> <br />
          <div class="form" v-if="verse.editing">
            <input v-model="editVerse" placeholder=""> <br />
            <textarea v-model="editPassage" placeholder=""></textarea> <br />
            <textarea v-model="editNotes" placeholder=""></textarea> <br />
            <button @click="changeVerse(verse)">Save Changes</button>
          </div>
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="/collection.js"></script>
</body>

</html>
